{% set _logoFooter = Image(theme.theme_mod('footer-logo')) %}
<footer class="bg-primary py-12 px-4 md:px-0">
    <section class="container mx-auto lg:flex">
        <figure>
            <img
                    src="{{ _logoFooter.src }}"
                    alt="{{ _logoFooter.alt }}"
                    title="{{ _logoFooter.title }}"
            />
        </figure>
        <nav class="ml-auto lg:flex footerMenu py-4">
            {% for item in footerMenu.items %}
                <a href="{{ item.link }}" class="{{ item.classes|join(' ') }}" title="{{ item.title }}">
                    {{ item.title }}
                </a>
            {% endfor %}
        </nav>
    </section>
</footer>
