{% set _logo = Image(theme.theme_mod('custom_logo')) %}
<header class="sps--header container mx-auto py-6 lg:flex">
    <a href={{ site.link }}>
        <figure>
            <img 
                src="{{ _logo.src }}" 
                alt="{{ _logo.alt }}" 
                title="{{ _logo.title }}"
            />
        </figure>
    </a>
    <nav class="primaryNavigation">
        {% for item in primaryMenu.items %}
            <div class="submenuContainer">
                <a href="{{ item.link }}" class="{{ item.classes|join(' ') }}" title="{{ item.title }}">
                    {{ item.title }}
                </a>

                {% if item.children %}
                    <ul class="submenu">
                        {% for child in item.children %}
                            <a href="{{ child.link}}" title="{{ child.title }}" class="submenu-item{{ child.classes|join(' ')}}">
                                {{ child.title }}
                            </a>
                        {% endfor%}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
    </nav>
</header>